@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ==== Colores ==== */

  --body-color: #e4e9f7;
  --barra-lateral-color: #fff;
  --color-primario: #483cc4;
  --color-primario-white: #f6f5ff;
  --color-alterno: #ddd;
  --color-texto: #707070;
  --color-nombre: #000;

  /* ==== Transiciones ==== */

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-04);
}

body.dark {
  --body-color: #18191a;
  --barra-lateral-color: #242526;
  --color-primario: #3a3b3c;
  --color-primario-white: #3a3b3c;
  --color-alterno: #fff;
  --color-texto: #ccc;
  --color-nombre: #f6f5ff;
}

/* === SECCIÓN INICIO ====*/

section.container-inicio {
  width: 100%;
  padding: 0px 25px;
  background-color: #ffffff;
}

/* ==== SECCIÓN QUIENES SOMOS ==== */

section.container-acerca {
  position: relative;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 0;
  padding: 40px 50px;
  background-color: white;
}

/* ==== SECCIÓN AYUDA ==== */

section.container-ayuda {
  position: relative;
  min-height: 100%;
  width: 100%;
  margin-top: 28px;
  padding: 40px 50px;
  background-color: white;
}

/* === SECCIÓN FORMULARIO ===*/

section section.formulario {
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 0 60px 20px ;
  background-color: white;
}


.home {
  position: static;
  transition: var(--tran-02);
  background: var(--body-color);
}

/*=== ANIMATION SOMOS ===*/

#txtsaludo {
  text-align: center;
  font-weight: 600;
  opacity: 0.7;
  margin: 5px;
}

h2.titulo {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

h2.titulo-3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

h3.title-help-1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 500;
}

.slider-text {
  font-family: "Poppins", "monospace";
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h2.h2-001 {
  font-size: 28px;
  padding-right: 20px;
  color: #161616;
}

.saludos {
  overflow: hidden;
}

ul,
li {
  list-style: none;
}

ul.slider-ul {
  width: 180px;
  height: 70px;
  position: relative;
  animation: slide-text 5s cubic-bezier(0.68, -0.55, 0.27, 1.58) infinite;
}

li.slider-li {
  position: absolute;
  height: 70px;
  top: 200%;
  line-height: 70px;
  font-size: 35px;
}

li.slider-li:first-child {
  top: 100%;
}

li.slider-li:last-child {
  top: 300%;
}

@keyframes slide-text {
  0% {
    transform: translateY(0);
  }
  15%,
  30% {
    transform: translateY(-100%);
  }
  45%,
  60% {
    transform: translateY(-200%);
  }

  75%,
  90% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-400%);
  }
}

/* ==== Barra lateral ==== */

.barra-lateral li .icon,
a {
  overflow: hidden;
}

.barra-lateral.close img {
  width: 0px;
  overflow: hidden;
  opacity: 0;
}

.barra-lateral.close {
  width: 0px;
}

.barra-lateral.close .boton-contenido {
  overflow: hidden;
  opacity: 0;
}

.barra-lateral.close .buscador-box {
  overflow: hidden;
}

.barra-lateral {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  padding: 5px;
  background-color: var(--barra-lateral-color);
  transition: var(--tran-05);
  z-index: 100;
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.165);
}

.barra-lateral .texto-imagen img.img-1 {
  width: 40px;
  border-radius: 6px;
  border: 2px solid #30343f;
}

.barra-lateral .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-texto);
  transition: var(--tran-05);
  white-space: nowrap;
  opacity: 1;
}

.barra-lateral.close .text {
  opacity: 0;
}

.barra-lateral .imagen {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra-lateral li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.barra-lateral li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.barra-lateral li .icon,
.barra-lateral li .text {
  color: var(--color-texto);
  transition: var(--tran-02);
}

.barra-lateral header {
  position: relative;
}

.barra-lateral .texto-imagen img.img-1 {
  width: 40px;
  border-radius: 6px;
  border: 2px solid #30343f;
}

.barra-lateral header .texto-imagen {
  display: flex;
  align-items: center;
}

header .texto-imagen .cabezero-text {
  display: flex;
  flex: column;
  font-size: 15px;
  color: var(--color-nombre);
}

.cabezero-text .nombre {
  font-weight: 600;
}

.barra-lateral .toggle {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%) rotate(180deg);
  height: 35px;
  width: 37px;
  background-color: var(--color-primario);
  display: flex;
  align-items: baseline;
  justify-content: center;
  border-radius: 50%;
  color: var(--barra-lateral-color);
  font-size: 35px;
  transition: var(--tran-03);
}

.barra-lateral.close .toggle {
  transform: translateY(-50%);
}

body.dark .barra-lateral .toggle {
  color: var(--color-texto);
}

.barra-lateral .buscador-box {
  background: var(--color-primario-white);
  border-radius: 6px;
  transition: var(--tran-05);
}

.buscador-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background: var(--color-primario-white);
  transition: var(--tran-05);
  color: var(--color-texto);
}

.barra-lateral li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.barra-lateral li a:hover {
  background-color: var(--color-primario);
  margin: 0 8px;
}

.barra-lateral li a:hover .icon,
.barra-lateral li a:hover .text {
  color: var(--barra-lateral-color);
}

body.dark .barra-lateral li a:hover .icon,
body.dark .barra-lateral li a:hover .text {
  color: var(--color-texto);
}

.barra-lateral .menu-barra {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-barra .modo {
  position: relative;
  background: var(--color-primario-white);
  border-radius: 6px;
}

.menu-barra .modo .modo-nocturno {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-barra .modo-text {
  font-size: 15px;
}
.menu-barra .mode i {
  position: absolute;
  transition: var(--tran-03);
}

.menu-barra .modo i.claro {
  opacity: 0;
}

body.dark .menu-barra .modo i.claro {
  position: absolute;
  opacity: 1;
}

body.dark .menu-barra .modo i.nocturno {
  opacity: 0;
}

.menu-barra .modo .alternar-interruptor {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  background: var(--color-primario-white);
  transition: var(--tran-05);
}

.alternar-interruptor .interruptor {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background-color: var(--color-alterno);
}

.interruptor::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--barra-lateral-color);
  transition: var(--tran-03);
}

body.dark .interruptor::before {
  left: 24px;
}

/* ======= */

/* === Formulario de sugerencias === */

div.formulario_01 {
  margin: 20px;
  padding: 20px;
  background-color: white;
}

div.form-container label,
input[type="submit"] {
  display: grid;
  gap: 1.2rem;
}

.form-input {
  min-width: 100%;
  max-width: 100%;
  padding: 0.6rem;
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 2px;
  outline: none;
}

div.form-group select option {
  color: black;
  font-size: 16px;
}

.formulario_01 form textarea {
  max-width: 100%;
  min-width: 60%;
  min-height: 100px;
  max-height: 120px;
  padding: 15px 20px;
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 2px;
  outline: none;
}

div.form-container input[type="submit"] {
  background-color: #d65050;
  border: 1px solid #d65050;
  padding: 14px;
  max-width: 100%;
  min-width: 50%;
  margin: 40px auto 20px;
  text-transform: uppercase;
  color: white;
  font-size: 0.7rem;
}

div.form-container input[type="submit"]:hover {
  transition: 0.3s;
  background-color: aliceblue;
  color: #d65050;
}

div.formulario_01 h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  color: #3a3737ef;
  margin: -10px 0px 10px 0px;
}

div.formulario_01 p {
  font-size: 0.9rem;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

div.form-container label {
  font-size: 0.8rem;
}

/* === end form ===*/

hr.hr-one {
  opacity: 0.5;
}

hr.hr-two {
  margin: 30px 140px 0px;
  opacity: 0.5;
}

p.textos-sub {
  font-size: 0.85rem;
}

p.textos {
  font-size: 0.9rem;
}
p.img-text {
  font-size: 0.65rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

/* === IMG ===*/

div.img-graph img {
  width: 400px;
  display: block;
  margin: 0 auto;
}

p.img-text {
  font-size: 0.65rem;
  font-weight: bold;
  text-align: center;
}

/* === TEST CODE STYLE SECCIÓN ACERCA DE */

h2.titulo {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 15px;
  margin-bottom: 20px;
  transform: rotate(-1deg);
  font-weight: bolder;
}

div.right blockquote {
  font-size: 14px;
  text-align: center;
}

div.right blockquote mark {
  font-size: 14px;
  text-align: center;
  font-family: cursive;
  background-color: #fafa86cc;
}

p b {
  opacity: 0.9;
}

p.im {
  font-size: 15px;
  margin-bottom: 15px;
}

div.home_1 {
  margin-top: 20px;
}

h3.mision,
.vision,
.objetivo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6rem;
}

p.textos {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.slider-frame {
  max-width: 100px;
  min-width: 10%;
  height: auto;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.005);
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
  height: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

/* === TEST CODE STYLE SECCIÓN ACERCA DE */

h2.titulo {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 15px;
  margin-bottom: 20px;
  transform: rotate(-1deg);
  font-weight: bolder;
}

div.right blockquote {
  font-size: 14px;
  text-align: center;
}

div.right blockquote mark {
  font-size: 14px;
  text-align: center;
  font-family: cursive;
  background-color: #fafa86cc;
}

p b {
  opacity: 0.9;
}

p.im {
  font-size: 15px;
  margin-bottom: 15px;
}

div.home_1 {
  margin-top: 20px;
}

h3.mision,
.vision,
.objetivo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6rem;
}

p.textos {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.slider-frame {
  max-width: 200px;
  min-width: 40%;
  height: auto;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.005);
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
  height: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

/* === STYLE SECCIÓN AYUDA ===*/

h2.titulo-2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  padding-top: 8px;
}

/* === IMG PHOTOS ===*/

div.cuadro-padre {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-items: center;
  color: rgba(0, 0, 0, 0.877);
}

div.cuadro-padre .row {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px 0px;
  position: relative;
  background-color: aliceblue;
  min-width: 40%;
  max-width: 40%;

  height: 200px;
  font-family: "Poppins", Courier, monospace;
  font-weight: 500;
  border-radius: 5px;
}

div.cuadro-padre i.photos {
  position: absolute;
  opacity: 0.1;
  font-size: 100px;
}

/* === === ===*/

h3.h3-title {
  font-weight: 400;
  color: #000000d7;
  margin: 5px;
  text-align: center;
}

div.home_1 h3.title-help {
  font-weight: 500;
  margin: 5px;

}

ul.ul_list li {
  position: relative;
  list-style-type: square;
  margin-left: 25px;
}

div.denuncia-here {
  text-align: center;
  font-size: 0.90rem;
  margin-top: 45px;
}

div.denuncia-here a {
  background-color: rgb(57, 161, 161);
  text-align: center;
  border-radius: 8px;
  padding: 15px 60px;
  color: #f7f3f3;
  text-decoration: none;
  border: 2px solid #d1d1d1;
}

div.denuncia-here a:hover {
  border: 3px solid #f5f5f5;
  font-weight: 600;
}

/* === STYLE SECCIÓN FORMULARIO === */

.formulario header {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.formulario form legend {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #333333f1;
  margin-top: 15px;
  margin-bottom: 4px;
}

.formulario form label {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #333333c5;
  display: inline-block;
  margin: 5px 0px;
}

.formulario p.descripcion-texto {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #333;
  border-radius: 6px;
  background-color: #bee9be;
  margin-top: 5px;
  padding: 8px 2px;
}

.formulario form input {
  margin: 5px 1px 0;
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  border: 2px solid #d1d1d1;
}

.formulario form input:hover {
  border: 3px solid #c7c4c4;
  font-weight: 500;
  color: #222121;
}

.formulario form textarea {
  overflow-y: hidden;
  margin-top: 5px;
  height: 50px;
  max-height: 205px;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  border: 2px solid #d1d1d1;
}

.formulario form textarea.text-area-2 {
  overflow-y: hidden;
  margin-top: 5px;
  height: 50px;
  max-height: 120px;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  border: 2px solid #d1d1d1;
}

.formulario form textarea:hover {
  border: 3px solid #c7c4c4;
  font-weight: 500;
  color: #222121;
}

.formulario form button[type="submit"] {
  display: block;
  margin-top: 5px;
  height: 50px;
  width: 95%;
  margin: 0 auto;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  border: 2px solid #d1d1d1;
  box-shadow: 0px 1px 80px 0px rgba(168, 173, 230, 1);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px; /*cambiar aqui*/
  color: #585864;
  background-color: white;
  cursor: pointer;
  cursor: hand;
}

.formulario form button[type="submit"]:hover {
  background-color: #ffffffaf;
  box-shadow: 0px 1px 80px 0px rgb(100, 106, 173);
  font-weight: 600;
}

.text_report_welcome {
  text-align: center;
  font-weight: 600;
  opacity: 0.7;
  margin-top: 10px;
}
/* === SUBMIT FORM  === */

p#texto_file {
  text-align: center;
  color: white;
}

div#div_file {
  position: relative;
  margin: 10px auto;
  padding: 10px;
  width: 95%;
  background-color: #3a8cc0;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #1a71a9;
}

div#div_file {
  box-shadow: 0px 1px 80px 0px rgb(100, 106, 173);
}

div#div_file:hover {
  background-color: #1e78af;
  font-weight: 600;
}

input.btn_enviar {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  cursor: hand;
}

div#div_description input[type="text"] {
  height: 100px;
  text-align: center;
}
form fieldset {
  border: 2px solid;
}

/* === PREVIEW FORM REPORT ===*/
div.container {
  position: relative;
  display: grid;
  width: 100%;
  right: 5px;
  margin: 0px 0px 30px 0px;
}

.container .wrapper {
  position: static;
  height: 100%;
  width: 100%;
  margin: 5px;
  right: 95px;
  border-radius: 10px;
  background: #fff;
  border: 3px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper.active {
  border: none;
}

/* ====CONTENIDO PREVIEW==== */

.wrapper .image-p {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.wrapper .icon {
  font-size: 80px;
  color: #ae80ff;
}

.wrapper .text-1 {
  font-size: 13px;
  color: rgb(53, 50, 50);
  font-weight: 400;
  font-family: "Poppins", Courier, monospace;
}

.wrapper #cancel-btn i {
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #af93df;
  cursor: pointer;
  display: none;
}

.wrapper.active:hover #cancel-btn i {
  display: block;
}

.wrapper #cancel-btn i:hover {
  color: #e74c3c;
}

.wrapper .file-name {
  position: absolute;
  text-align: center;
  bottom: -5px;
  width: 100%;
  padding: 8px 0;
  font-size: 14px;
  word-wrap: normal;
  color: #fff;
  display: none;
  background: linear-gradient(135deg, #336ebb 0%, #2f8ae0 100%);
}

.wrapper.active:hover .file-name {
  display: block;
}

.container #custom-btn {
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
}

div.texto-titulo-popup {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #333333c5;
  margin: 5px 0px 5px 0px;
}

p.descripcion-texto-2 b {
  font-weight: 500;
}

p.descripcion-texto-2 b.MB {
  background-color: gainsboro;
  border-radius: 10px;
  padding: 2px;
  font-weight: 600;
  font-size: 14px;
}


/* === FOOTER ===*/

footer {
  background-color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  height: 35px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

span.footer a {
  text-decoration: none;
  font-size: 0.775rem;
  color: var(--color-nombre);
}

footer a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-texto);
}

span.footer_acerca_de svg:hover {
  transform: scale(1.15);
}
